@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  min-height: 1rem /* 64px */;
  width: 16vh;
  justify-content: space-between;
  padding-bottom: 0px;
}

a {
  text-decoration: none;
}

.box {
  width: 320px;
  height: 480px;
}

.container {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow: hidden;
  height: 100%;
  border-radius: 1.5rem;
}

section {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  scroll-behavior: smooth;
  border-radius: 1.5rem;
}

.one {
  background-color: aqua;
}

.two {
  background-color: blueviolet;
}

.three {
  background-color: brown;
}

.four {
  background-color: orange;
}

footer {
  background-color: yellow;
  display: flex;
  align-items: center;
  min-height: 1rem /* 64px */;
  width: 16vh;
  justify-content: space-between;
  padding-top: 0px;
}
