@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-color: #171717;
  line-height: 1.2;
  user-select: none;
}

header {
  display: flex;
  align-items: center;
  min-height: 1rem /* 64px */;
  width: 32vh;
  justify-content: space-around;
  margin: 8px;
  border-radius: 12px;
  background-color: #f5f5f5;
  padding: 2px 12px 2px 12px;
}

a {
  text-decoration: none;
  color: #171717;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: #f14a12;
  transform: scale(1.1);
}

/* Card container */

.box {
  width: 320px;
  height: 480px;
  border-radius: 1.5rem;
  overflow: hidden;
}

/* Scroll container */

.container {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: scroll;
  box-sizing: content-box;
  height: 100%;
  border-radius: 1.5rem;
}

/* Cards / Sections*/

section {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  scroll-behavior: smooth;
  padding: 2rem 1.5rem;
  background-color: #f5f5f5;
}

.one {
  flex-direction: column;
}

img {
  border-radius: 99px;
  width: 128px;
  padding: 2px;
  border: solid 2px #f14a12;
}

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  opacity: 90%;
  transform: scale(1.1);
  transition-duration: 500ms;
}

.fish {
  width: 12px;
  position: relative;
  top: 2px;
  border: none;
  padding: 0;
}

.subtitle {
  font-size: x-small;
  font-weight: lighter;
}

.two {
}

.three {
}

.four {
}

footer {
  background-color: yellow;
  display: flex;
  align-items: center;
  min-height: 1rem /* 64px */;
  width: 24vh;
  max-width: 40vh;
  justify-content: space-around;
  margin: 8px;
  border-radius: 12px;
  background-color: #f5f5f5;
  padding: 2px 12px 2px 12px;
}

/* CTA Shake Animation*/

.cta {
  animation: shake 0.82s 2;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
